Options +FollowSymlinks #Activer la gestion des URL symbolique
RewriteEngine On # Activer le module de réecriture



AuthName "Authentification!"
AuthType Basic
AuthUserFile "C:/xampp/htdocs/clinique/.htpasswd"
Require valid-user
